@page "/"

<PageTitle>Home</PageTitle>

<h1>Customer Application</h1>

Welcome Customer application, you can Create/Edit/Delete Customers.<a href="#"></a>
But  first you will need to register as a user!
the List of Customers can be search based on Customer Last Name.

